body{
    color: white;
}

.pageContainer{
    background-color: rgb(0, 0, 100);
}

tt{
    background-color:black;
    color: #00FF00;
}

a:any-link{
    color: #c8d6fd;
}

.rickroll:any-link{
    color: white;
}

.lang{
    font-size: larger;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    background-color: #0055ffcc;
}

.lang:hover{
    background-color: #c8d6fd;
}

.easterEgg{
    color: black;
}


/*MODAL CREATIVE COMMONS*/
.modal-container {
    background-color: darkblue;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;
  }
  
  .modal-header {
    font-weight: bold;
    font-size:x-large;
    margin-top: 0;
    color: white;
  }
  
  .modal-body {
    margin: 20px 0;
    color: white;
  }

  .ccImg{
    text-align: center;
    padding-top: 10px;
  }
