<html>
    <head>
        <title>D&D - Inserimento incantesimi</title>
        <meta charset="utf-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
        <script src="https://kit.fontawesome.com/d2ab5b4e79.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <link rel="shortcut icon" href="favicon.png">

    </head>
 
    <body>
        <div id="vueContainer">
            <div class="column">
                <form>
                    Nome incantesimo: <input type="text" placeholder="Nome incantesimo" v-model="current.name"><br>
                    Livello: <select v-model="current.level">
                        <option value="0">Trucchetto</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                      </select><br>
                    Scuola: <input type="text" placeholder="Scuola" v-model="current.school"><br>
                    Tempo di lancio <input type="text" placeholder="Tempo di lancio" v-model="current.time"><br>
                    Gittata <input type="text" placeholder="Gittata" v-model="current.range"><br>
                    Componenti <input type="text" placeholder="Componenti" v-model="current.components"><br>
                    Durata <input type="text" placeholder="Durata" v-model="current.duration"><br>
                    Danno <input type="text" placeholder="Danno" v-model="current.damage"><br>
                    Descrizione: <br><textarea type="text" placeholder="Descrizione" v-model="current.description"></textarea><br>
                    Livelli superiori: <br> <textarea type="text" placeholder="Livelli superiori" v-model="current.higher_lv"></textarea><br>
                    <center><input class="reset" type="reset" value="Aggiungi incantesimo" @click="addSpell()"></center>

                </form>
            </div>
            <div class="column">
                <div class= "spells">
                    <div v-for="spell in spells">
                        {<br>
                            "name" : "{{spell.name}}",<br>
                            "level": {{spell.level}},<br>
                            "school": "{{spell.school}}",<br>
                            "manual": "{{spell.manual}}",<br>
                            "time": "{{spell.time}}",<br>
                            "range": "{{spell.range}}",<br>
                            "components": "{{spell.components}}",<br>
                            "duration": "{{spell.duration}}",<br>
                            "damage": "{{spell.damage}}",<br>
                            "description": "{{spell.description}}",<br>
                            "higher_lv": "{{spell.higher_lv}}"<br>
                        },
                    </div>
                </div>
            </div>
        </div>
    <script src="script.js"></script>
    </body>
</html> 
